@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#mobile {
  opacity: 0;
}

body {
  margin: 0;
  padding: 0;
}




@media (max-width: 1600px) {
 
  body {
    scale: 0.82;
    transform-origin:top center ;
  }

  #MAIS-VENDIDOS {
    scale: 1.05;
    height: 6900px;
    padding-top: 700px;
    margin-top: 220px;
    
  }

  #bug {
    display: block;
    margin-top: 0px;
  }
#SEGUNDA-PARTE {
  margin-top: 500px;
  
}



#VOLTAR {
  margin-left: -36px;
}


}

@media (max-width: 1366px) {

#PAINEL-CATEGORIAS {
gap: 70px;
}

#VOLTAR {
  margin-left: -106px;
}

}



@media (max-width: 768px) {
  body {
    background-color: black;
  }

  body > * {
    display: none;
  }

  body::before {
    content: "🚫 Este site não está disponível no modo mobile. Acesse pelo computador.";
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgb(3, 49, 31);
    color: white;
    font-size: 18px;
    padding: 20px;
    z-index: 9999;
  }
}
